{% extends 'accounts/main.html' %}

{% block content %}


<div class="row">
    <div class="col-md">
        <div class="card card-header">
            <span class="d-flex">
                <h5 class="mr-auto p-2">products</h5>
                <div class="p-2"><a class="btn btn-success" href="{% url 'create_products' %}">Add Product</a></div> 
            </span>

        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                   <th>Product</th> 
                   <th>Category</th>
                   <th>Price</th>
                   <th>Update</th>
                   <th>Delete</th>
                </tr>
                {% for i in allOrders%}
                <tr>

                    <th>{{i.name}}</th> 
                    <th>{{i.category}}</th>
                    <th>{{i.price}}</th>
                    <th><a class="btn btn-info" href="{% url 'update_products'  i.id %}">Update</a></th>
                    <th><a class="btn btn-danger" href="{% url 'delete_products'  i.id %}">Delete</a></th>

                 </tr>
                 {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}