<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5>Total Orders</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{TotalNumberOfOrders}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="order-delivered">
                <div class="card-header">
                    <h5>Order Delivered</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{TotalDelivredOrders}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="order-progress">
                <div class="card-header">
                    <h5>Order in Progress</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{TotalInProgress}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="order-pindings">
                <div class="card-header">
                    <h5>Pinding Orders </h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{TotalPindingOrders}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>